body {
  padding-top: 40px;
  padding-bottom: 40px;
}

body.admin{
  background-image: url('../../img/header.jpg');
  background-repeat: no-repeat;
  background-color: black;
}

.form-signin {
  max-width: 430px;
  padding: 25px 50px 50px 50px;
  margin: 100px auto 20px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
  border-radius: 5px;
  border: 1px solid #e5e5e5;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

form button.btn-primary{
  border-color:#fff;
}